<launch>
        <group ns="/ged">
                <node pkg="turtlesim" name="turtlesim_node" type="turtlesim_node" respawn="true" >
                        <param name="speed/default" value="3.0" />
                </node>
                <node pkg="ged" name="ged_server_py" type="ged_server.py" respawn="true" />
        </group>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
</launch>
